h1,
h2 {
  all: unset; /* Сбрасывает все стили */
}
* {
  margin: 0;
  padding: 0;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100vw;
  background-color: whitesmoke;
  padding: 12px 0 12px 0;
}
.content {
  display: block;
  width: 75vw;
}
.content__title {
  display: block;
  font-size: 32px;
}
.content__subtitle {
  display: block;
  font-size: 24px;
  color: rgb(0, 0, 255);
}
.content__description {
  display: block;
  font-size: 18px;
}
.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: fixed;
  bottom: 36px;
  left: 0;
  right: 0;
  width: 100%;
}
.control__tile {
  display: block;
  font-size: 18px;
}
.control__button {
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 50vw;
  width: 700px;
  padding: 8px;
}
